extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`/img/icons.svg#icon-${icon}`)
      | #{text}

mixin reviewItem(link, name, review, rating, reviewId)
  li.user-view__item-review 
    .user-view__item-review-left 
      a(href=`${link}`).review__name-tour= `${name} tour`
      p.review__content= review
      span.review__rating= `${rating} / 5`
    .user-view__item-review-right 
      i.fa-solid.fa-pen.review__edit-icon(data-review-id=`${reviewId}`)
      i.fa-solid.fa-trash.review__trash-icon(data-review-id-delete=`${reviewId}`)

block content 
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('#', 'My reviews', 'star', true)
          +navItem('/my-favourite-tours', 'My favourite tours', 'heart')
          +navItem('#', 'Billing', 'credit-card')
        - if(user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('manage-tours', 'Manage tours', 'map')
              +navItem('manage-users', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')
      .user-view__content
        .user-view__review-container
          h2.heading-secondary.ma-bt-md Your Reviews
          if tours.length > 0
            ul.user-view__list-reviews
              each tour in tours
                include _modelReview
                each review in reviews 
                  - if(JSON.stringify(tour.id) === JSON.stringify(review.tour))
                    +reviewItem(`/tour/${tour.slug}`, tour.name, review.review, review.rating, review._id)
          else
            h3(style='text-align: center; font-size: 18px;') You don't have any reviews yet!

      include _modelDelete
      
